@import '../../assets/scss/vars';

.list {
  margin-top: 22px;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 1px 1px 14px 6px rgba(200, 200, 200, 0.15);
  background: $white;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 21px;
    font-weight: 700;
  }

  a {
    font-size: 14px;
    font-weight: 700;
  }
}

.ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.emptyP {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}