@import "./vars";

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $background;
  color: rgb(47, 47, 47);
  font-family: Nunito, sans-serif;
}

a, button {
  cursor: pointer;
}

a, button, input {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1120px;
  padding: 20px;
  margin: 16px auto 200px;
  height: 100%;
  min-height: 90vh;
}

.green-gradient-text {
  background: $greengradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.orange-gradient-text {
  background: $orangegradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.capitalise-text {
  text-transform: capitalize;
}

.back-link {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  transition: all .3s;
  margin-bottom: 20px;

  svg {
    rotate: 180deg;
  }

  span {
    font-size: 18px;
    color: $black;
  }

  &:hover {
    scale: 1.1;
  }
}