$background: rgb(237, 237, 237);
$lightgrey: rgb(251, 251, 251);
$grey: #838383;
$grey2: #DDDDDD;
$darkgrey: #E7E7E7;
$white: #ffffff;
$black: #000000;
$orange: #FFD9B6;
$lightorange: #FFEDDC;
$orangegradient: linear-gradient(64.20deg, rgb(255, 164, 80), rgb(255, 92, 0));
$bluegradient: linear-gradient(64.20deg, #00E5FF, #1200FF);
$pinkgradient: linear-gradient(64.20deg, #FFE53B, #FF005B);
$yellowgradient: linear-gradient(64.20deg, #FFE53B, #00FFFF);
$greengradient: linear-gradient(71.57deg, rgb(55, 200, 113) 10.576%, rgb(95, 227, 148) 65.29%);
$lightgreen: #EDFFF4;
$green: #37C871;
$blue: #00E5FF;
$pink: #FF005B;
$yellow: #FFE53B;
